RewriteEngine On
RewriteRule ^leagues/([0-9]+)/team$ leagues/team/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/team/builder$ leagues/team/builder/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/team/captain$ leagues/team/captain/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/team/substitute$ leagues/team/substitute/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers$ leagues/transfers/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/market/players$ leagues/market/players/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/rules$ leagues/rules/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers/quote$ leagues/transfers/quote/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers/confirm$ leagues/transfers/confirm/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/fantasy$ leagues/fantasy/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/matches/([0-9]+)$ leagues/matches/detail/index.php?league_id=$1&match_id=$2 [QSA,L]
RewriteRule ^leagues/([0-9]+)/matches$ leagues/matches/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/table$ leagues/table/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/stats/players$ leagues/stats/players/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/private-leagues/([0-9]+)$ leagues/private-leagues/detail/index.php?league_id=$1&privateleague_id=$2 [QSA,L]
RewriteRule ^leagues/([0-9]+)/private-leagues$ leagues/private-leagues/index.php?league_id=$1 [QSA,L]
RewriteRule ^home$ home/index.php [QSA,L]
RewriteRule ^notifications/([0-9]+)/read$ notifications/read/index.php?notification_id=$1 [QSA,L]
RewriteRule ^notifications/read-all$ notifications/read-all/index.php [QSA,L]
RewriteRule ^notifications$ notifications/index.php [QSA,L]
RewriteRule ^contact$ contact/index.php [QSA,L]
RewriteRule ^me/teams$ me/teams/index.php [QSA,L]
RewriteRule ^me$ me/index.php [QSA,L]
DirectorySlash Off

SetEnv JWT_SECRET "jhsfd723rnksdf_fsdf_sdf?sd??sdfw4t?wfr:g.,sdfl9f"
SetEnv APP_ENV "local"
SetEnv AUTH_FIXED_OTP "123456"
