RewriteEngine On
RewriteRule ^leagues/([0-9]+)/team$ leagues/team/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/team/builder$ leagues/team/builder/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/team/captain$ leagues/team/captain/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers$ leagues/transfers/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers/quote$ leagues/transfers/quote/index.php?league_id=$1 [QSA,L]
RewriteRule ^leagues/([0-9]+)/transfers/confirm$ leagues/transfers/confirm/index.php?league_id=$1 [QSA,L]
RewriteRule ^home$ home/index.php [QSA,L]
DirectorySlash Off

SetEnv JWT_SECRET "jhsfd723rnksdf_fsdf_sdf?sd??sdfw4t?wfr:g.,sdfl9f"
SetEnv APP_ENV "local"
SetEnv AUTH_FIXED_OTP "123456"
